<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cards Gallery</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
	<script src="../../node_modules/web3/dist/web3.min.js"></script> 
  <script src="../../solidity/contracts.json"></script>   
   <link rel="stylesheet" href="cards-gallery.css">
</head>
<body>
   <section class="gallery-block cards-gallery">
	    <div class="container">
	        <div class="heading">
	          <h2>Investor's Marketplace</h2>
	        	<button id="showLendingRequests" class="btn" onclick="getAllLoanRequests()" > Show Lending Requests </button>	
	        	</div>
	        <div id="borrowers" class="row">
	        
	        <!-- This is where the lend requests will be shown; this part is generated automatically when the "Show Lending Requests" button is pressed -->

	        </div>
	    </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script>

      baguetteBox.run('.cards-gallery', { animation: 'slideIn'});

      lendings = [];
      /*[{
      	"name":"Mickey Spence", 
      	"address":"0x000111232332332", 
      	"requiredAmount":35, 
      	"coin":"ETH", 
      	"paybackTimeInDays":77, 
      	"interestPercentage":14}];*/

      // init web3 (ethereum)
  		if(typeof web3 !== 'undefined') {
    		web3 = new Web3(web3.currentProvider);
    	} else {
    		web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
    	}

    	web3.eth.defaultAccount = web3.eth.accounts[0];

    	//init the lending contract and find it on the blockchain
    	var LendingContract = web3.eth.contract(LendingsContractABI);
    	var LCInstance = LendingContract.at('0x75123c4b7d86d7240915ef2d54faac4c14fe69e9');

    	//add a new lending request to our list, whenever one is generated
    	var borrowingEvent = LCInstance.showContractDetails({}, 'latest');

    	borrowingEvent.watch(function(error, result){
    		if(!error){
					addRequestedLoanToList({"name": "Loading..."});
    		} else {
    			console.log("Lending request was generated but there was an error in displaying it:");
    			console.log(error);
    		}
  		});

    	function addRequestedLoanToList(object){
    		if(object !== undefined)
    			lendings.push(object);
    		populatePageWithLoanRequests();
    	}

    	function getProgressOfLoan(borrowerAddress, elem){

    		LCInstance.getContractAddressFromBorrower(borrowerAddress, (err, res) => {
    			if(!err){
    				var address = res;
    				var SingleLendingContract = web3.eth.contract(SingleLendingABI);
			    	var SLInstance = SingleLendingContract.at(address);
			    	console.log("Address is "+address);

			    	SLInstance.getTotalLendedAmount({from:web3.eth.defaultAccount}, (error, result) => {
			    		if(!error) {
			    			SLInstance.getRequestedAmount({from:web3.eth.defaultAccount}, (error2, result2) => {
									if(!error2) {
										console.log("Lended "+result+" out of "+result2);
										var j = result/result2 * 100;
										console.log(j);
										elem.style.width = String(j) + "%"; 
										return j;
									} else console.log(error2);
								});
			    		} else console.log(error);
			    	});
			    }
			    else console.log(err);
    		});

	    	return 0;
	    }

    	function lendMoney(value, borrowerAddress){

    		LCInstance.getContractAddressFromBorrower(borrowerAddress, (err, res) => {
    			if(!err){
    				var address = res;
			    	var SingleLendingContract = web3.eth.contract(SingleLendingABI);
			    	var SLInstance = SingleLendingContract.at(address);

		    		SLInstance.lend({from:web3.eth.defaultAccount, 
		    			value: web3.toWei(value, "ether")}, (error, result) => {
		    			if(error){
			    			console.log(error);
			    		} else {
			    			console.log("Lending some money!!");
			    		}
		    		});
		  		} else console.log(err);
		  	});
    	}

  		function getAllLoanRequests(){
  			lendings = [];
  			LCInstance.getNumberOfBorrowers({from:web3.eth.defaultAccount}, (error, result) => {
  				if(!error){
  					console.log("We have "+result+" loans requested!");

  					for(var i=0; i<result; i++){
  						LCInstance.borrowerAddresses.call(i, {from:web3.eth.defaultAccount}, (error2, result2) => {
  							if(!error2){
  								console.log(result2);
  								LCInstance.getContractAddressFromBorrower(result2, {from:web3.eth.defaultAccount}, (error3, result3) =>{
  									if(!error3){
								    	var SingleLendingContract = web3.eth.contract(SingleLendingABI);
								    	var SLInstance = SingleLendingContract.at(result3);

								    	SLInstance.getLendingContractInformation({from:web3.eth.defaultAccount}, (error4, result4) => {
								    		if(!error4){
								    			var newElement = {
								    				"name":result4[0],
								    				"address": result4[1],
								    				"requiredAmount": result4[2]["c"][0],
							    					"coin": "ETH",
							    					"paybackTime": result4[3]["c"][0],
							    					"interestPercentage": result4[4]["c"][0]
							    				};

								    			addRequestedLoanToList(newElement);
								    		} else console.log(error4);
								    	});
  									}  else console.log(error3);
  								});
  							}  else console.log(error2);
  						});
						}
  				} else console.log(error);
  			});
  		}

      function populatePageWithLoanRequests() {
      	var borrowers = document.getElementById("borrowers");
      	borrowers.innerHTML = "";
    		var len = lendings.length;

        for (var i = len - 1; i >= 0; i--) {
        	console.log("In populatePageWithLoanRequests(), lendings["+i+"] is ", lendings[i])

        	var parentDiv = document.createElement("div");
        	parentDiv.id = lendings[i]["address"];
        	parentDiv.className = "col-md-6 col-lg-4";

        	var borderDiv = document.createElement("div");
        	borderDiv.className = "card border-0 transform-on-hover";

        	parentDiv.appendChild(borderDiv);

					var cardDiv = document.createElement("div");
        	cardDiv.className = "card-body";
        	borderDiv.appendChild(cardDiv);

        	var nameElement = document.createElement("h5");
        	nameElement.textContent = lendings[i]["name"];
        	cardDiv.appendChild(nameElement);

					var addressP = document.createElement("p");
        	addressP.className = "subtitle";
        	addressP.textContent = "Address: "+ lendings[i]["address"];
        	cardDiv.appendChild(addressP);

					var amount = document.createElement("p");
        	amount.className = "";
        	amount.textContent = "Amount: "+ lendings[i]["requiredAmount"]+" "+lendings[i]["coin"];
        	cardDiv.appendChild(amount);

					var amount = document.createElement("p");
        	amount.className = "";
        	amount.textContent = "Payback Time in Days: "+ lendings[i]["paybackTimeInDays"];
        	cardDiv.appendChild(amount);
					
					var amount = document.createElement("p");
        	amount.className = "";
        	amount.textContent = "Interest: "+ lendings[i]["interestPercentage"];
        	cardDiv.appendChild(amount);

        	var progressBar = document.createElement("div");
        	progressBar.className="progress-bar";
        	var progressed = document.createElement("div");
        	progressed.className="progressed";
					getProgressOfLoan(lendings[i]['address'], progressed);
        	progressBar.appendChild(progressed);
        	cardDiv.appendChild(progressBar);

					var bttn = document.createElement("button");
					bttn.id = lendings[i]["address"];
        	bttn.className = "btn btn-success";
        	bttn.textContent = "Fund This";

        	bttn.onclick = (function(iter, array, elem, function1, function2) {return function(){
			    		alert("Are you sure you want to fund this person? ");
							console.log(iter);
							console.log(array[iter]);
			    		function1(1, array[iter]["address"]);
							function2(array[iter]["address"], elem);
        	}})(i, lendings, progressed, lendMoney, getProgressOfLoan);
        	cardDiv.appendChild(bttn);

        	borrowers.appendChild(parentDiv);
        }
      }
		</script>
</body>
</html>
